
.form-reg-cont {
  width: 400px;
  height: 700px;
  padding: 50px;
  background-color: white;
  border-radius: 0 0 50px 50px;
}


.invalid-control {
  color: brown;
  border-color: brown;
  &::placeholder {
    color: brown;
  }
  &:focus {
    border-color: brown;
  }
}


.file-cont {
  left: 5px; 
  width: 300px;
  position: relative;
  display: inline-block;
}


.input-file {
  display: none;
}


.file-butt {
  left: 36px;
  width: 210px;
  padding: 10px;
  overflow: hidden;
  user-select: none;
  color: goldenrod;
  position: relative;
  border-radius: 30px;
  white-space: nowrap;
  font-family: cursive;
  text-overflow: ellipsis;
  border: 2px solid goldenrod;
  &:hover {
    cursor: pointer;
    background-color: gray;
  }
}


input {
  width: 300px;
  border: none;
  border-bottom: 1px solid grey;
  &:focus {
    outline: none;
    border-color: goldenrod;
  }
}


button {
  width: 300px;
  border-radius: 20px; 
}


span {
  color: brown;
  font-family: cursive;
}


img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 5px;
}


h4 {
  font-weight: bold;
  user-select: none;
  font-family: cursive;
}


p {
  left: 56px;
  color: grey;
  position: relative;
}


a { 
  text-decoration: none; 
}