

.form-reg-cont {
  width: 400px;
  height: 700px;
  padding: 50px;
  border-radius: 0 0 50px 50px;
  background-color:  white;
}


.invalid-control {
  border-color: brown;
  color: brown;
}


.invalid-control::placeholder {
  color: brown;
}


.invalid-control:focus {
  border-color: brown;
}


.file-cont {
  display: inline-block;
  position: relative;
  left: 5px;
  width: 300px; 
}


.input-file {
  display: none;
}


.file-butt {
  padding: 10px;
  position: relative;
  left: 36px;
  font-family: cursive;
  border: 2px solid goldenrod;
  border-radius: 30px;
  color: goldenrod;
  user-select: none;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.file-butt:hover {
  cursor: pointer;
  background-color: gray;
}


input {
  width: 300px;
  border: none;
  border-bottom: 1px solid grey;
}


input:focus {
  outline: none;
  border-color: goldenrod;
}


button {
  width: 300px;
  border-radius: 20px; 
}


span {
  color: brown;
  font-family: cursive;
}


img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}


h4 {
  font-family: cursive;
  font-weight: bold;
  user-select: none;
}


p {
  color: grey;
  position: relative;
  left: 56px;
}


a { 
  text-decoration: none; 
}