
.main-container {
  height: 100vh;
  position: relative;
  background-color: grey;
}


.kitchen-cont {
  top: 80px;
  left: 700px;
  width: 400px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0 1px 10px 0px black;
}


.kitchen-title {
  width: 400px;
  padding: 10px;
  user-select: none;
  background-color: white;
  border-radius: 50px 50px 0 0;
  border-bottom: 2px solid goldenrod;
}


h4 {
  top: 5px;
  left: 90px;
  font-weight: bold;
  position: relative;
  color: goldenrod;
  font-family: cursive;
}