
.form-ent-cont {
  width: 400px;
  height: 460px;
  padding: 50px;
  background-color: white;
  border-radius: 0 0 50px 50px;
}


.invalid-control {
  color: brown;
  border-color: brown;
  &::placeholder {
    color: brown;
  }
  &:focus {
    border-color: brown;
  }
}


input {
  width: 300px;
  border: none;
  border-bottom: 1px solid grey;
  &:focus {
    outline: none;
    border-color: goldenrod;
  }
}


button {
  width: 300px;
  border-radius: 20px; 
}


span {
  color: brown;
  font-family: cursive;  
}


h4 {
  user-select: none;
  font-weight: bold;
  font-family: cursive;
}


p {
  left: 75px;
  color: grey;
  position: absolute;
}


a { 
  text-decoration: none; 
}

