
.main-cont {
  padding: 35px;
  height: 100vh;
  position: relative;
  background-color: gray;
}


.prod {
  left: 25%;
  width: 800px;
  height: auto;
  padding: 10px;
  position: relative;
  border-radius: 20px;  
  background-color: white;
  &:hover {
    box-shadow: 0 1px 10px 0 black; 
  }
}


.prod-img {
  left: 250px;
  cursor: pointer;
  position: relative;
  &:hover + .prod-name {
    font-weight: bold;
    color: goldenrod;
    border-top: 1px solid goldenrod;
  }
}


.prod-name {
  width: 780px;
  color: grey;
  font-size: 20px;
  padding-top: 10px;
  font-family: cursive;
  border-top: 1px solid grey;
  a {
    text-decoration: none;
  }
}




    