
.new-comm,  .com-form{
  top: 30px;
  left: 190px;
  width: 350px;
  height: 300px;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: white;
 }


.com-form {
  left: 115px;
  width: 500px;
  margin-bottom: 100px;
}


.comm-text {
  top: 20px;
  position: relative;
}


textarea {
  resize: none;
}


.invalid-control, .comm-text-error {
  color: brown;
  border-color: brown;
  &:focus {
    border-color: brown;
  }
  &:focus {
    outline-color: brown;
  } 
  &::placeholder {
    color: brown;
  }
}
 

.emailError {
  color: brown;
  font-family: cursive;
}


.btn-warning {
  left: 40%;
  position: relative;
  border-radius: 20px;
}


.btn-primary {
  top: 30px;
  left: 350px;
  position: relative;
  border-radius: 20px;
}


input {
  width: 300px;
  border: none;
  border-bottom: 1px solid grey;
  &:focus {
    outline: none;
    border-color: goldenrod;
  }
}


.rate-input {
  width: 15px;
  border: none;
}


h4 {
  font-weight: bold;
  user-select: none;
  font-family: cursive;
}


label {
  font-family: cursive;
}